__pycache__/
*.pyc
*.smc
*.smc*
*.swp
*.swo
*.swn
.vs/
output
testing
.ipynb_checkpoints
*.png
*.pickle
abstraction_validation/ram.bin
abstraction_validation/blue_brinstar_elevator.state
abstraction_validation/blue_brinstar.bk2
foo
